/* ::::: https://misc.360buyimg.com/lib/skin/2013/base.css ::::: */

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { margin: 0px; padding: 0px; }
ol, ul { list-style: outside none none; }
:focus { outline: 0px none; }
img { vertical-align: middle; }
em { font-style: normal; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0px none; padding: 0px; }
.fl { float: left; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-table; }
.clearfix { display: block; }
.hide { display: none; }
body { font: 12px/150% Arial,Verdana,"宋体"; color: rgb(102, 102, 102); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
h4, h5, h6 { font-size: 12px; }
a { color: rgb(102, 102, 102); text-decoration: none; }
a:hover { color: rgb(228, 57, 60); text-decoration: underline; }
.w { width: 990px; margin: 0px auto; }
.root61 .w { width: 1210px; }
/* ::::: https://misc.360buyimg.com/jdf/1.0.0/unit/??ui-base/1.0.0/ui-base.css ::::: */

a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var { margin: 0px; padding: 0px; }
button, html input[type="button"], input[type="submit"] { cursor: pointer; }
ol, ul { list-style: outside none none; }
img { border: 0px none; vertical-align: middle; }
em, i, u { font-style: normal; }
.fl { float: left; }
.hide { display: none; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix {  }
.w { width: 990px; margin: 0px auto; }
.root61 .w { width: 1210px; }
body { font: 12px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"u5b8bu4f53",sans-serif; color: rgb(102, 102, 102); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
a { color: rgb(102, 102, 102); text-decoration: none; }
a:hover { color: rgb(200, 22, 35); }
/* ::::: https://misc.360buyimg.com/user/reg/1.0.0/widget/??header-1130/header-1130.css,common/common.css,personal-reg-1130/personal-reg-1130.css,footer/footer.css ::::: */

.header .logo, .i-company, .i-def, .i-error, .i-error1, .i-global, .i-suc { background: rgba(0, 0, 0, 0) url('icon.png') no-repeat scroll 0% 0%; }
.i-company { background-position: 0px -50px; }
.i-global { background-position: -50px -50px; }
.header { height: 110px; background: rgba(0, 0, 0, 0) url('headbg.jpg') repeat-x scroll left bottom; }
.header .logo { width: 160px; height: 50px; float: left; margin-top: 24px; }
.header .logo-title { float: left; height: 34px; line-height: 34px; font-size: 24px; color: rgb(51, 51, 51); padding-left: 20px; margin-top: 34px; }
.header .have-account { font-size: 16px; float: right; margin-top: 55px; color: rgb(153, 153, 153); }
.header .have-account a { color: rgb(51, 51, 51); }
.feedback, .i-clear, .i-company, .i-def, .i-error, .i-error1, .i-global, .i-suc, .registerDialog .close, .registerDialog .ico { background: rgba(0, 0, 0, 0) url('icon.png') no-repeat scroll 0% 0%; }
.i-company { background-position: 0px -50px; }
.i-global { background-position: -50px -50px; }
button, input, select, textarea { outline: 0px none; }
body, button, input, txt { font-family: "Microsoft YaHei","Hiragino Sans GB"; }
.tips { position: absolute; background: rgb(254, 244, 229) none repeat scroll 0% 0%; border: 1px solid rgb(246, 192, 144); color: rgb(188, 82, 18); display: none; padding: 0px 12px; height: 32px; text-align: center; line-height: 32px; border-radius: 3px; z-index: 11; }
.tips .arrow { width: 0px; height: 0px; line-height: 0; font-size: 0px; border-color: rgb(246, 192, 144) transparent transparent; border-style: solid dashed dashed; border-width: 8px; position: absolute; left: 50%; margin-left: -4px; bottom: -16px; }
.tips .arrow-inner { width: 0px; height: 0px; line-height: 0; font-size: 0px; border-color: rgb(254, 244, 229) transparent transparent; border-style: solid dashed dashed; border-width: 8px; position: absolute; left: 50%; margin-left: -4px; bottom: -15px; }
.capslock-tip { right: 2px; top: -45px; }
.feedback { display: block; width: 33px; height: 135px; background-position: -367px 0px; }
.feedback:hover { background-position: -334px 0px; }
.protocol-con { height: 426px; padding: 10px; line-height: 20px; overflow-x: hidden; overflow-y: auto; margin-bottom: 25px; }
.protocol-con h4, .protocol-con h5 { color: rgb(51, 51, 51); font-size: 14px; }
.protocol-con h5 { margin: 10px 0px; }
.protocol-button button { margin: 0px auto; display: block; width: 400px; height: 54px; color: rgb(255, 255, 255); background: rgb(238, 34, 34) none repeat scroll 0% 0%; border: 0px none; font-size: 16px; font-family: "Microsoft YaHei","Hiragino Sans GB"; }
.form-item-valid .i-status, .i-company, .i-def, .i-error, .i-error1, .i-global, .i-info, .i-pwd-medium, .i-pwd-strong, .i-pwd-weak, .i-suc, .voiceVerifyDialog .ico { background: rgba(0, 0, 0, 0) url('icon.png') no-repeat scroll 0% 0%; }
.i-company { background-position: 0px -50px; }
.i-global { background-position: -50px -50px; }
body { font-size: 14px; }
.main { margin: 50px auto 60px; width: 830px; }
.reg-form { width: 400px; }
.form-item { position: relative; border: 1px solid rgb(221, 221, 221); width: 398px; height: 52px; z-index: 0; }
.form-item label { float: left; width: 90px; height: 52px; line-height: 52px; padding-left: 20px; }
.form-item txt { margin-top: 2px !important; }
.form-item .field { border: 0px none; font-size: 14px; width: 190px; height: 19px; padding-bottom: 11px; padding-left: 20px; padding-top: 16px; }
.form-item .form-authcode, .form-item .phonecode { width: 150px; }
.form-item .i-status { position: absolute; display: none; width: 16px; height: 16px; top: 20px; right: 20px; }
.form-item .img-code { position: absolute; right: 3px; top: 3px; width: 110px; height: 46px; cursor: pointer; }
.btn-phonecode { position: absolute; right: 3px; top: 3px; width: 110px; height: 46px; border: medium none; background: rgb(242, 242, 242) none repeat scroll 0% 0%; color: rgb(51, 51, 51); padding: 0px; }
.form-item-account { z-index: 13; }
.form-item-phone .select-country { width: 104px; padding: 0px 0px 0px 20px; height: 52px; border-width: medium 1px medium medium; border-style: none solid none none; border-color: currentcolor rgb(221, 221, 221) currentcolor currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(102, 102, 102); }
.form-item-phone .arrow { background: rgba(0, 0, 0, 0) url('icon.png') no-repeat scroll -2px -151px; width: 15px; height: 15px; display: inline-block; margin-top: 15px; margin-left: 5px; }
.form-item-phone txt { margin-left: 7px !important; }
.form-item-phone input { padding-left: 7px !important; }
.input-tip { color: rgb(197, 197, 197); height: 27px; font-size: 12px; padding-top: 5px; }
.btn-register { width: 100%; height: 54px; color: rgb(255, 255, 255); background: rgb(238, 34, 34) none repeat scroll 0% 0%; border: 0px none; font-size: 16px; font-family: "Microsoft YaHei","Hiragino Sans GB"; }
.suggest-container { display: none; }
.suggest-container li { cursor: pointer; }
.email-suggest { position: absolute; border: 1px solid rgb(204, 204, 204); z-index: 10; background: rgb(255, 255, 255) none repeat scroll 0% 0%; left: -1px; top: 52px; width: 100%; }
.email-suggest li { height: 40px; line-height: 40px; padding-left: 130px; color: rgb(51, 51, 51); padding-right: 12px; text-align: right; text-indent: -1000px; }
.email-suggest li .value { overflow: hidden; }
.reg-other { float: left; margin-left: 104px; height: 605px; padding-left: 90px; border-left: 1px solid rgb(230, 230, 230); }
.reg-other .company-reg { width: 160px; height: 60px; border-bottom: 1px solid rgb(221, 221, 221); margin-left: 30px; }
.reg-other .company-reg a { display: block; width: 160px; height: 30px; }
.reg-other .company-reg a i { display: inline-block; width: 30px; height: 29px; vertical-align: middle; margin-right: 15px; }
.reg-other .company-reg a span { vertical-align: middle; }
.reg-other .inter-cust { width: 160px; margin-left: 30px; margin-top: 30px; }
.reg-other .inter-cust a { display: block; width: 170px; height: 40px; }
.reg-other .inter-cust a i { display: inline-block; width: 30px; height: 30px; vertical-align: text-bottom; margin-right: 15px; float: left; margin-top: 7px; }
.reg-other .inter-cust a span { display: inline-block; }
.reg-other a:hover { color: rgb(0, 0, 0); font-weight: 700; }
.form-item-phonecode .i-status { right: 125px; display: none; }
.item-phone-wrap { height: 86px; position: relative; z-index: 2; }
.item-phone-wrap .orEmail { position: absolute; right: 0px; bottom: 6px; font-size: 12px; }
.item-phone-wrap .orEmail a { color: rgb(51, 136, 255); }
.item-email-wrap { display: none; height: 86px; position: relative; z-index: 11; }
.item-email-wrap .orPhone { position: absolute; right: 0px; bottom: 6px; font-size: 12px; }
.item-email-wrap .orPhone a { color: rgb(51, 136, 255); }
.item-email-wrap .form-item { z-index: 11; }
#form-equalTopwd, #form-pwd, #login-pwd { width: 210px; }
.footer { font-size: 12px; text-align: center; border-top: 1px solid rgb(230, 230, 230); color: rgb(153, 153, 153); padding-bottom: 30px; }
.footer .links { padding-top: 30px; padding-bottom: 15px; }
.footer a { color: rgb(153, 153, 153); margin: 0px 10px; }
/* ::::: https://misc.360buyimg.com/user/reg/1.0.0/widget/foreign-number-layer-170524/foreign-number-layer-170524.css ::::: */

#country_code_layer { font-family: "Microsoft YaHei"; display: none; background-color: rgb(255, 255, 255); position: absolute; cursor: default; z-index: 110; box-shadow: 0px 0px 2px 2px rgb(238, 238, 238); border: 1px solid rgb(238, 238, 238); padding: 10px 14px; width: 316px; height: auto; }
#country_code_layer a { text-decoration: none; }
#country_code_layer .arrow { display: block; position: absolute; background-image: url('tips.gif'); background-repeat: no-repeat; width: 16px; height: 9px; background-position: 0px 0px; overflow: hidden; top: -9px; right: 270px; }
#country_code_layer a:hover { color: rgb(200, 22, 35); }
#country_code_layer .search-bar { width: auto; height: auto; position: relative; background: rgb(247, 247, 247) none repeat scroll 0% 0%; margin-bottom: 12px; }
#country_code_layer .search-bar input { display: inline-block; width: 272px; height: 38px; line-height: 38px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; border: 1px solid rgb(238, 238, 238); padding-left: 42px; }
#country_code_layer .search-bar .search-icon { display: inline-block; width: 17px; height: 16px; background: rgba(0, 0, 0, 0) url('search-icon.png') no-repeat scroll 0% 0%; position: absolute; left: 17px; top: 13px; }
#country_code_layer .capital-list { line-height: 20px; }
#country_code_layer .capital-list ul { width: 330px; word-break: break-all; }
#country_code_layer .current-capital span { display: inline-block; }
#country_code_layer .current-capital .line { width: 289px; height: 1px; margin-left: 12px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; vertical-align: middle; }
#country_code_layer .country-list { height: 160px; width: 100%; }
#country_code_layer .country-list .overview { width: 100%; }
#no-result, #result { display: none; clear: both; }
/* ::::: https://misc.360buyimg.com/user/reg/1.0.0/css/tinyscrollbar-170524.css ::::: */

#scrollbar2 { position: relative; z-index: 100; margin: 8px -1px; }
#scrollbar2 .viewport { position: absolute; z-index: 10; left: 0px; width: 100%; height: 150px; overflow: hidden; padding-bottom: 5px; }
#scrollbar2 .overview { list-style: outside none none; z-index: 10; position: absolute; left: 0px; top: 0px; padding: 0px; margin: 0px; }
#scrollbar2 .scrollbar { right: -7px; z-index: 11; background: transparent url('bg-scrollbar-track-y.png') repeat-y scroll 0px 0px; position: absolute; float: right; width: 15px; }
#scrollbar2 .track { height: 100%; width: 13px; position: absolute; padding: 0px 1px; right: 0px; }
#scrollbar2 .thumb { background: transparent url('bg-scrollbar-thumb-y.png') repeat-y scroll 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0px; left: -9px; }
#scrollbar2 .thumb .end { overflow: hidden; height: 5px; width: 25px; }
/* ::::: https://misc.360buyimg.com/jdf/1.0.0/ui/dialog/1.0.0/dialog.css ::::: */

