* { margin: 0px; padding: 0px; }
em, i { font-style: normal; }
li { list-style: outside none none; }
img { border: 0px none; vertical-align: middle; }
button { cursor: pointer; }
a { color: rgb(102, 102, 102); text-decoration: none; }
a:hover { color: rgb(200, 22, 35); }
button, input { font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b体,sans-serif; }
body { background-color: rgb(255, 255, 255); font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b体,sans-serif; color: rgb(102, 102, 102); }
.hide, .none { display: none; }
.clearfix::after { visibility: hidden; clear: both; display: block; content: "."; height: 0px; }
.clearfix {  }
@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot') format("embedded-opentype"), url('iconfont.woff') format("woff"), url('iconfont.ttf') format("truetype"), url('iconfont.svg') format("svg");
}
.iconfont { font-family: iconfont; font-style: normal; -webkit-text-stroke-width: 0.2px; }
.mod_price { font-size: 14px; color: rgb(241, 2, 20); }
.mod_price i { margin-right: 3px; font-family: arial; font-weight: 400; font-size: 12px; }
.grid_c1 { margin: 0px auto; width: 1190px; }
.mod_ver { display: inline-block; width: 0px; height: 100%; vertical-align: middle; font-size: 0px; }
.mod_lazyload { background-image: url('lazyload.gif'); }
.loading, .mod_lazyload, .mod_loading { background-repeat: no-repeat; background-position: 50% 50%; }
.loading, .mod_loading { background-image: url('loading.gif'); }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
	.mod_lazyload { background-image: url('lazyload@2x.gif'); background-size: 100px 90px; }
	.loading, .mod_loading { background-image: url('loading@2x.gif'); background-size: 25px 25px; }
}
@font-face {
	font-family: "fzzhengheis-el-gbregular";
	font-style: normal;
	font-weight: 400;
	src: url('fzzxh-webfont.eot') format("embedded-opentype"), url('fzzxh-webfont.woff') format("woff"), url('fzzxh-webfont.ttf') format("truetype"), url('fzzxh-webfont.svg') format("svg");
}
.box_hd { position: relative; padding: 0px 20px 0px 30px; height: 55px; line-height: 55px; color: rgb(255, 255, 255); }
.box_hd_col1 { float: left; }
.box_hd_col2 { float: right; }
.box_hd_dec { position: absolute; left: -4px; top: -4px; width: 28px; height: 28px; }
.box_hd_arrow { position: absolute; top: 0px; left: 0px; width: 0px; height: 0px; border-top: 19px solid rgb(246, 246, 246); border-right: 19px solid transparent; }
.box_hd_icon, .box_promo, .box_tit { float: left; }
.box_tit { font-family: fzzhengheis-el-gbregular; font-size: 26px; font-weight: 400; line-height: 40px; height: 40px; padding-top: 9px; }
.box_subtit { position: relative; float: right; margin-top: 19px; padding-right: 20px; height: 24px; line-height: 24px; font-size: 14px; color: rgb(255, 255, 255); }
.box_subtit:hover { color: rgb(255, 255, 255); }
.box_subtit_arrow { position: absolute; right: 0px; top: 4px; }
.box_bd { background-color: rgb(255, 255, 255); }
.box_subtit_arrow, .coupon_entry_btn_ico { background-image: url('sprite_index@1x.png'); background-position: -154px -40px; background-size: 218px 188px; background-repeat: no-repeat; width: 15px; height: 16px; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
	.box_subtit_arrow, .coupon_entry_btn_ico { background-image: url('sprite_index@2x.png'); background-position: -76px -130px; background-size: 170px 158px; background-repeat: no-repeat; width: 15px; height: 16px; }
}
.fl { float: left; }
.fr { float: right; }
.w { margin: auto; width: 1190px; }
.ci-left, .ci-right, .dd-spacer { display: none !important; }
.loading { display: block; height: 70px; }
.dorpdown { position: relative; z-index: 21; }
.cw-icon { overflow: hidden; position: relative; z-index: 1; float: left; border: 1px solid rgb(227, 228, 229); }
.dorpdown-layer { display: none; position: absolute; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1); }
.dorpdown:hover .dorpdown-layer, .hover .dorpdown-layer { display: block; }
.dorpdown:hover .cw-icon, .hover .cw-icon { padding-bottom: 2px; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentcolor; border-bottom: medium none; background-color: rgb(255, 255, 255); }
#shortcut { border-bottom: 1px solid rgb(221, 221, 221); background-color: rgb(227, 228, 229); }
#shortcut .w { height: 30px; line-height: 30px; color: rgb(153, 153, 153); }
#shortcut a { color: rgb(153, 153, 153); }
#shortcut a:hover { color: rgb(200, 22, 35); }
#shortcut li { float: left; }
#shortcut li.spacer { overflow: hidden; margin: 11px 5px 0px; width: 1px; height: 10px; background-color: rgb(204, 204, 204); }
#shortcut .dt { padding-left: 7px; padding-right: 7px; }
#shortcut .dd { line-height: 24px; }
#shortcut .cw-icon { height: 28px; line-height: 28px; }
#shortcut .dorpdown-layer { top: 30px; }
#shortcut .style-red { color: rgb(241, 2, 21); }
.fr .cw-icon { padding-right: 20px !important; }
.fr .iconfont { position: absolute; right: 5px; top: 10px; width: 12px; height: 12px; line-height: 12px; }
.u-place-tip::before { content: ""; position: absolute; left: 40px; top: -16px; border-width: 8px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent transparent rgb(216, 216, 216); }
.u-place-tip::after { content: ""; position: absolute; left: 40px; top: -15px; border-width: 8px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent transparent rgb(255, 255, 255); }
#ttbar-login { margin-right: 8px; z-index: 20; }
#ttbar-login .link-login { font-family: verdana\,simsun; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
#ttbar-mycity { margin-left: 200px; }
#ttbar-mycity .iconfont { font-size: 14px; color: rgb(241, 2, 21); }
#ttbar-mycity .dd { left: 0px; width: 300px; padding: 10px; }
#ttbar-mycity .item { float: left; width: 60px; padding: 2px 0px; }
#ttbar-mycity .item a { float: left; padding: 0px 8px; }
#ttbar-mycity .item a:hover { background-color: rgb(244, 244, 244); }
#ttbar-mycity .item a.selected { background-color: rgb(241, 2, 21); color: rgb(255, 255, 255); }
#ttbar-myjd .dorpdown-layer { left: 0px; width: 280px; }
#ttbar-myjd .dd-spacer { left: 0px; width: 82px; }
#ttbar-serv .dd { right: 0px; width: 170px; padding: 10px 0px; }
#ttbar-navs .dd { right: -84px; width: 1188px; padding: 15px 0px; }
#header .w { position: relative; z-index: 11; height: 140px; }
#header .style-red { color: rgb(241, 2, 21); }
#logo { position: absolute; z-index: 2; left: 0px; top: -31px; width: 190px; height: 170px; box-shadow: 0px -12px 10px rgba(0, 0, 0, 0.2); background-color: rgb(255, 255, 255); }
.logo_tit { position: absolute; width: 100%; height: 100%; }
.logo_tit_lk { overflow: hidden; display: block; width: 190px; height: 170px; background-image: url('logo.v3.jpg'); background-repeat: no-repeat; text-indent: -999px; }
.logo_subtit { display: none; }
.logo_extend { display: none; position: absolute; width: 100%; height: 100%; }
.search-m { position: relative; z-index: 1; height: 60px; }
.search-m .search_logo { display: none; }
.search-m .form { position: absolute; left: 320px; top: 25px; width: 550px; height: 35px; }
.search-m .button, .search-m .text { position: absolute; top: 0px; outline: medium none; }
.search-m .text { left: 0px; padding: 4px; width: 490px; height: 25px; border: 1px solid rgb(241, 2, 21); line-height: 25px; font-size: 14px; color: rgb(152, 152, 152); }
.search-m .button { right: 0px; width: 50px; height: 35px; line-height: 35px; border: medium none; background-color: rgb(241, 2, 21); font-size: 20px; font-weight: 700; color: rgb(255, 255, 255); }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
	.logo_tit_lk { background-image: url('logo.v3@2x.jpg'); background-size: 190px 170px; }
}
#treasure { position: absolute; right: 0px; bottom: 10px; width: 190px; height: 40px; }
#hotwords { overflow: hidden; position: absolute; left: 320px; top: 65px; width: 550px; height: 20px; line-height: 20px; }
#hotwords a { float: left; margin-right: 10px; white-space: nowrap; color: rgb(153, 153, 153); }
#hotwords a:hover { color: rgb(200, 22, 35); }
#navitems { overflow: hidden; position: absolute; left: 200px; bottom: 0px; width: 790px; height: 40px; }
#navitems .spacer, #navitems li, #navitems ul { float: left; }
#navitems li { margin-left: 30px; }
#navitems a { position: relative; display: block; height: 40px; line-height: 40px; font-size: 16px; font-weight: 700; color: rgb(85, 85, 85); }
#navitems a:hover { color: rgb(200, 22, 35); }
#navitems .spacer { overflow: hidden; margin-top: 15px; margin-left: 20px; margin-right: -10px; width: 1px; height: 10px; background-color: rgb(204, 204, 204); }
#shelper { overflow: hidden; position: absolute; z-index: 1; left: 270px; top: 59px; width: 398px; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2); }
.root61 #shelper { left: 320px; width: 498px; }
#settleup { position: absolute; right: 99px; top: 25px; }
#settleup .cw-icon { width: 188px; height: 33px; background-color: rgb(255, 255, 255); text-align: center; line-height: 33px; }
#settleup .cw-icon .iconfont { margin-right: 3px; font-size: 16px; color: rgb(241, 2, 20); }
#settleup .cw-icon a { color: rgb(241, 2, 20); }
#settleup .ci-count { position: absolute; top: 5px; left: 140px; right: auto; display: inline-block; padding: 1px; font-size: 12px; line-height: 12px; color: rgb(255, 255, 255); background-color: rgb(241, 2, 21); border-radius: 7px; min-width: 12px; text-align: center; }
#settleup .dorpdown-layer { top: 35px; right: 0px; width: 308px; }
.cate { position: relative; z-index: 2; }
.cate_menu { overflow: hidden; padding: 16px 0px; height: 448px; background-color: rgb(110, 101, 104); color: rgb(255, 255, 255); }
.cate_menu_item { overflow: hidden; padding-left: 12px; height: 28px; line-height: 28px; font-size: 0px; }
.cate_menu_line { padding: 0px 4px; font-size: 12px; }
.cate_menu_lk { font-size: 14px; color: rgb(255, 255, 255); }
.cate_pop { position: absolute; left: 190px; top: 0px; width: 998px; min-height: 478px; border: 1px solid rgb(247, 247, 247); background-color: rgb(247, 247, 247); box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3); transition: top 0.25s ease 0s; }
.slider_main { position: relative; margin-bottom: 10px; height: 340px; }
.slider_item { background-color: rgb(255, 255, 255); }
.slider_item, .slider_item_lk, .slider_list { overflow: hidden; position: absolute; width: 100%; height: 100%; }
.slider_item_img { display: block; width: 100%; height: 100%; }
.slider_control_item { display: none; position: absolute; z-index: 1; top: 50%; margin-top: -30px; width: 30px; height: 60px; background-color: rgba(0, 0, 0, 0.1); line-height: 60px; text-align: center; }
.slider_control_item:hover { background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; }
.slider_control_prev { left: 0px; }
.slider_control_next { right: 0px; }
.slider_control_item i { font-size: 20px; color: rgb(255, 255, 255); }
.slider_main:hover .slider_control_item { display: block; }
.slider_indicator { position: absolute; z-index: 1; left: 50%; bottom: 20px; font-size: 0px; padding: 4px 8px; border-radius: 12px; background-color: rgba(255, 255, 255, 0.3); display: none; }
.slider_indicator_btn { display: inline-block; margin-right: 10px; width: 12px; height: 12px; border-radius: 100%; background-color: rgb(255, 255, 255); }
.slider_indicator_btn_last { margin-right: 0px; }
.slider_indicator_btn_active { background-color: rgb(219, 25, 42); }
.slider_extend { margin-left: -10px; height: 130px; }
.slider_bi { overflow: hidden; float: left; margin-left: 10px; width: 390px; height: 130px; }
.slider_bi_lk { display: block; width: 100%; height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.slider_bi_img { display: block; width: 390px; height: 130px; }
.user { padding: 0px 15px; height: 115px; border-bottom: 1px solid rgb(230, 230, 230); }
.user_info { overflow: hidden; position: relative; padding: 15px 0px 15px 54px; height: 45px; }
.user_info_avatar { overflow: hidden; position: absolute; margin-left: -54px; width: 50px; height: 50px; }
.user_info_avatar_lk { position: absolute; left: 0px; top: 0px; width: 50px; height: 50px; background-repeat: no-repeat; }
.user_info_avatar img { display: block; height: 40px; margin: 5px; border-radius: 23px; }
.user_info_show p { overflow: hidden; margin-top: 4px; width: 100%; white-space: nowrap; text-overflow: ellipsis; }
.user_profit { overflow: hidden; height: 24px; font-size: 0px; margin-right: -10px; }
.user_profit_lk { display: inline-block; margin-right: 10px; width: 70px; height: 20px; border: 2px solid rgb(224, 18, 34); line-height: 20px; font-size: 12px; text-align: center; color: rgb(224, 18, 34); }
.user_profit a:hover { background-color: rgb(224, 18, 34); color: rgb(255, 255, 255); }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
.news { overflow: hidden; padding: 0px 15px; height: 154px; }
.news .mod_tab_head { padding: 8px 0px 4px; border-bottom: 1px solid rgb(230, 230, 230); position: relative; line-height: 14px; }
.news_more { position: absolute; right: 0px; top: 8px; }
.news .mod_tab_head_item { color: rgb(51, 51, 51); padding-right: 12px; padding-left: 12px; border-right: 1px solid rgb(223, 224, 225); }
.news .news_first { padding-left: 0px; }
.news .news_last { padding-right: 0px; border-right: 0px none; }
.news .mod_tab_content { padding: 12px 0px; }
.news .mod_tab_content_item { display: none; }
.news .mod_tab_content_item_on { display: block; }
.news_item { line-height: 24px; max-width: 160px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.news_tab_active { position: absolute; bottom: -1px; left: -2px; width: 28px; height: 2px; background: rgb(219, 25, 43) none repeat scroll 0% 0%; transform: translateX(0px); transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
.service { overflow: hidden; position: relative; height: 210px; }
.service_entry { overflow: hidden; width: 190px; }
.service_list { margin-left: -1px; width: 192px; height: 210px; overflow: hidden; }
.service_item { position: relative; overflow: hidden; float: left; width: 47px; height: 69px; border-top: 1px solid rgb(231, 231, 231); border-left: 1px solid rgb(231, 231, 231); text-align: center; }
.service_ico, .service_lk, .service_txt { display: block; }
.service_lk { padding-top: 14px; height: 55px; transition: all 0.15s ease-in-out 0s; }
.service_ico { margin: 0px auto; }
.service_txt { height: 22px; line-height: 22px; border-top: 2px solid rgb(255, 255, 255); }
.service_corner { position: absolute; right: 0px; top: 0px; width: 13px; height: 16px; font-size: 12px; line-height: 12px; text-align: center; background: rgb(224, 17, 33) none repeat scroll 0% 0%; color: rgb(255, 255, 255); transition: all 0.2s ease 0s; }
.service_corner_txt { vertical-align: top; }
.service_corner_ico { position: absolute; bottom: 0px; left: 0px; width: 0px; height: 0px; font-size: 0px; line-height: 0; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 2px 6px; border-color: rgb(224, 17, 33) rgb(224, 17, 33) rgb(255, 255, 255); }
.service_pop { position: absolute; left: 0px; top: 210px; width: 190px; height: 185px; background-color: rgb(255, 255, 255); transition: all 0.2s ease-in-out 0s; }
.service_pop_item { height: 185px; }
.service_pop_close { position: absolute; right: 0px; top: 0px; width: 14px; height: 14px; line-height: 14px; text-align: center; }
.service_pop_close:hover { background-color: rgb(221, 221, 221); }
.fs { z-index: 9; margin-bottom: 10px; }
.fs, .fs_inner { position: relative; }
.fs_inner { z-index: 1; height: 480px; background-color: rgb(246, 246, 246); }
.fs_col1 { width: 190px; margin-right: 10px; }
.fs_col1, .fs_col2 { float: left; height: 100%; }
.fs_col2 { width: 790px; }
.fs_col3 { float: right; margin-left: 10px; width: 190px; height: 100%; background-color: rgb(255, 255, 255); }
.fs_act { display: block; position: absolute; left: 0px; top: 0px; width: 100%; }
.service_ico_huafei { background-position: 0px -88px; }
.service_ico_huafei, .service_ico_jipiao { background-image: url('sprite_fs@1x.png'); background-size: 156px 148px; background-repeat: no-repeat; width: 24px; height: 24px; }
.service_ico_jipiao { background-position: 0px -44px; }
.service_ico_dianying { background-position: -44px -44px; }
.service_ico_dianying, .service_ico_youxi { background-image: url('sprite_fs@1x.png'); background-size: 156px 148px; background-repeat: no-repeat; width: 24px; height: 24px; }
.service_ico_youxi { background-position: -88px 0px; }
.service_ico_qyg { background-position: -88px -44px; }
.service_ico_jiayou, .service_ico_qyg { background-image: url('sprite_fs@1x.png'); background-size: 156px 148px; background-repeat: no-repeat; width: 24px; height: 24px; }
.service_ico_jiayou { background-position: 0px 0px; }
.service_ico_jiudian { background-position: -44px -88px; }
.service_ico_huoche, .service_ico_jiudian { background-image: url('sprite_fs@1x.png'); background-size: 156px 148px; background-repeat: no-repeat; width: 24px; height: 24px; }
.service_ico_huoche { background-position: -88px -88px; }
.service_ico_zhongchou { background-position: -132px 0px; }
.service_ico_licai, .service_ico_zhongchou { background-image: url('sprite_fs@1x.png'); background-size: 156px 148px; background-repeat: no-repeat; width: 24px; height: 24px; }
.service_ico_licai { background-position: -132px -44px; }
.service_ico_lipin { background-position: -132px -88px; }
.service_ico_baitiao, .service_ico_lipin { background-image: url('sprite_fs@1x.png'); background-size: 156px 148px; background-repeat: no-repeat; width: 24px; height: 24px; }
.service_ico_baitiao { background-position: -44px 0px; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
	.service_ico_huafei { background-position: 0px -68px; }
	.service_ico_huafei, .service_ico_jipiao { background-image: url('sprite_fs@2x.png'); background-size: 126px 118px; background-repeat: no-repeat; width: 24px; height: 24px; }
	.service_ico_jipiao { background-position: 0px -34px; }
	.service_ico_dianying { background-position: -34px -34px; }
	.service_ico_dianying, .service_ico_youxi { background-image: url('sprite_fs@2x.png'); background-size: 126px 118px; background-repeat: no-repeat; width: 24px; height: 24px; }
	.service_ico_youxi { background-position: -68px 0px; }
	.service_ico_qyg { background-position: -68px -34px; }
	.service_ico_jiayou, .service_ico_qyg { background-image: url('sprite_fs@2x.png'); background-size: 126px 118px; background-repeat: no-repeat; width: 24px; height: 24px; }
	.service_ico_jiayou { background-position: 0px 0px; }
	.service_ico_jiudian { background-position: -34px -68px; }
	.service_ico_huoche, .service_ico_jiudian { background-image: url('sprite_fs@2x.png'); background-size: 126px 118px; background-repeat: no-repeat; width: 24px; height: 24px; }
	.service_ico_huoche { background-position: -68px -68px; }
	.service_ico_zhongchou { background-position: -102px 0px; }
	.service_ico_licai, .service_ico_zhongchou { background-image: url('sprite_fs@2x.png'); background-size: 126px 118px; background-repeat: no-repeat; width: 24px; height: 24px; }
	.service_ico_licai { background-position: -102px -34px; }
	.service_ico_lipin { background-position: -102px -68px; }
	.service_ico_baitiao, .service_ico_lipin { background-image: url('sprite_fs@2x.png'); background-size: 126px 118px; background-repeat: no-repeat; width: 24px; height: 24px; }
	.service_ico_baitiao { background-position: -34px 0px; }
}
.index { background-color: rgb(246, 246, 246); }
.sk { height: 305px; }
.fbt, .sk { margin-bottom: 30px; }
.fbt { height: 444px; }
.coupon { height: 270px; }
.coupon, .entry_c3 { margin-bottom: 30px; }
.entry_c3 { height: 585px; }
.rec { height: 100px; background-color: rgb(224, 224, 224); }
.chn, .rec { margin-bottom: 30px; }
.chn { height: 523px; }
.chn_t { height: 578px; }
.more { margin-bottom: 30px; min-height: 300px; }
.mobile { position: relative; z-index: 21; }
.mobile_txt { width: 60px; text-align: center; }
.mobile_static { position: absolute; left: 3px; width: 66px; height: 66px; border: 1px solid rgb(207, 207, 207); }
.mobile_static_qrcode { margin: 4px auto; width: 60px; height: 60px; background: rgb(246, 246, 246) url('59a51cafn0fec6121.png') no-repeat scroll 50% center; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
	.mobile_static_qrcode { background: rgba(0, 0, 0, 0) url('59a51cafnca78ca43.png') no-repeat scroll 50% center / 60px auto; }
}
.mobile_pop::before, .mobile_static::before { content: ""; position: absolute; display: block; top: -9px; left: 50%; margin-left: -5px; width: 0px; height: 0px; line-height: 0; font-size: 0px; border-width: 5px; border-style: solid; border-color: rgb(228, 228, 228) rgb(228, 228, 228) rgb(246, 246, 246); }
.mobile_pop::before { border-color: rgb(228, 228, 228) rgb(228, 228, 228) rgb(255, 255, 255); left: 154px; }
.mobile .mod_loading { height: 200px; }
.mobile_pop { display: none; position: absolute; left: auto; right: 0px; top: 30px; width: 190px; border-width: 1px 1px 3px; border-style: solid; border-color: rgb(207, 207, 207) rgb(207, 207, 207) rgb(96, 87, 90); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(255, 255, 255); }
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all, not all {
}
.top_img { width: auto !important; }
.photo-search-btn { position: absolute; right: 65px; top: 10px; width: 19px; height: 15px; overflow: hidden; }
.photo-search-btn .upload-bg { display: block; width: 19px; height: 15px; background: rgba(0, 0, 0, 0) url('sprite-photo-search.png') no-repeat scroll 0% 0%; cursor: pointer; }
.photo-search-btn .upload-trigger { position: absolute; right: 0px; top: 0px; z-index: 3; width: 500px; height: 500px; cursor: pointer; opacity: 0; }
.photo-search-btn:hover .upload-bg { background-position: -30px 0px; }
.sk_inner { overflow: hidden; }
.sk .box_hd { background: rgba(0, 0, 0, 0) url('seckill_hd.png') no-repeat scroll 0px 0px; }
.sk .box_subtit { float: left; margin-left: 12px; }
.sk .box_hd_dec { background-image: url('sprite_index@1x_001.png'); background-position: -190px -48px; background-size: 218px 188px; background-repeat: no-repeat; width: 28px; height: 28px; }
.sk .box_hd_icon { margin-top: 8px; margin-right: 8px; background-image: url('sprite_index@1x_001.png'); background-position: 0px -40px; background-size: 218px 188px; background-repeat: no-repeat; width: 34px; height: 40px; }
.sk_cd { float: left; }
.sk_cd_tip { float: left; line-height: 45px; padding-top: 10px; font-size: 14px; }
.sk_cd_main { float: left; margin-left: 6px; margin-right: 8px; }
.sk .cd_item { float: left; width: 35px; height: 37px; background-color: rgb(68, 1, 6); color: rgb(249, 0, 19); font-size: 24px; font-family: Arial; font-weight: 700; border-radius: 3px; text-align: center; line-height: 37px; margin-top: 10px; }
.sk .cd_split { float: left; margin: 22px 4px 0px; width: 4px; height: 12px; font-size: 0px; line-height: 0; }
.sk .cd_split_dot { display: block; width: 4px; height: 4px; border-radius: 100%; background-color: rgb(68, 1, 6); }
.sk .cd_split_top { margin-bottom: 4px; }
.sk .cd_split_bottom { top: 30px; }
.sk .box_bd { padding: 12px 0px 13px; height: 225px; overflow: hidden; }
.sk_list_wrapper { float: left; width: 1000px; overflow: hidden; position: relative; }
.sk_list { color: rgb(153, 153, 153); width: 6000px; }
.sk_controls { display: none; }
.sk_controls_item { position: absolute; display: block; z-index: 1; top: 50%; margin-top: -25px; width: 20px; height: 50px; background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; line-height: 50px; text-align: center; }
.sk_controls_item .iconfont { font-size: 20px; color: rgb(39, 37, 38); }
.sk_controls_prev { left: 7px; }
.sk_controls_next { right: 7px; }
.sk_split { width: 1px; height: 225px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; top: 0px; right: 0px; z-index: 1; position: absolute; }
.sk_item { float: left; width: 170px; height: 225px; padding: 0px 14px 0px 15px; border-right: 1px solid rgb(231, 231, 231); }
.sk_item_pic { position: relative; text-align: center; }
.sk_item_pic_lk { display: block; outline: 0px none; }
.sk_item_img { width: 130px; height: 130px; margin: 17px 0px; }
.sk_item_name { color: rgb(153, 153, 153); display: block; max-width: 100%; overflow: hidden; font-size: 12px; text-align: left; height: 32px; line-height: 16px; overflow-wrap: break-word; word-break: break-all; }
.sk_item_pic_lk:hover .sk_item_name { color: rgb(200, 22, 35); }
.sk_item_shadow { position: absolute; left: 0px; top: 130px; text-align: center; background-image: url('sprite_index@1x_001.png'); background-position: 0px 0px; background-size: 218px 188px; background-repeat: no-repeat; width: 170px; height: 20px; }
.sk_item_price { padding: 3px 0px; height: 25px; }
.sk_item_price_new { font-size: 18px; font-weight: 700; margin-right: 8px; }
.sk_item_price_new i { font-size: 12px; font-weight: 300; }
.sk_item_price_origin { color: rgb(153, 153, 153); font-size: 12px; }
.sk_item_price_origin del { font-weight: 400; }
.sk_item_tag { position: absolute; top: 0px; left: 0px; text-align: center; background-image: url('sprite_index@1x_001.png'); background-position: -54px -40px; background-size: 218px 188px; background-repeat: no-repeat; width: 30px; height: 40px; z-index: 1; }
.sk_item_tag_txt { font-size: 12px; color: rgb(255, 255, 255); line-height: 14px; display: inline-block; vertical-align: 2px; padding-top: 2px; }
.sk_special { position: relative; margin: 0px 10px 0px 0px; float: right; }
.sk_special_item, .sk_special_list { position: relative; width: 180px; height: 225px; }
.sk_special_item { position: absolute; left: 0px; top: 0px; }
.sk_special_pic { display: block; width: 180px; height: 225px; }
.sk_special_indlist { position: absolute; width: 100%; height: 10px; bottom: 15px; z-index: 2; font-size: 0px; text-align: center; }
.sk_special_inditem { display: inline-block; width: 10px; height: 10px; border-radius: 5px; margin: 0px 3px; background: rgb(52, 42, 45) none repeat scroll 0% 0%; }
.sk_special_inditem.active { background: rgb(224, 18, 34) none repeat scroll 0% 0%; }
.csstransitions .sk_item_img { transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s, -moz-transform 0.4s ease 0s; transform: translateY(0px); }
.csstransitions .sk_item_pic_lk:hover .sk_item_img { transform: translateY(-5px); }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
	.sk .box_hd_dec { background-image: url('sprite_index@2x_001.png'); background-position: -118px -80px; background-size: 170px 158px; background-repeat: no-repeat; width: 28px; height: 28px; }
	.sk .box_hd_icon { background-image: url('sprite_index@2x_001.png'); background-position: 0px -30px; background-size: 170px 158px; background-repeat: no-repeat; width: 34px; height: 40px; }
	.sk_item_tag { background-image: url('sprite_index@2x_001.png'); background-position: 0px -80px; background-size: 170px 158px; background-repeat: no-repeat; width: 30px; height: 40px; }
	.sk_item_shadow { background-image: url('sprite_index@2x_001.png'); background-position: 0px 0px; background-size: 170px 158px; background-repeat: no-repeat; width: 170px; height: 20px; }
}
.fbt_col1, .fbt_col2, .fbt_col3 { width: 390px; height: 444px; float: left; overflow: hidden; }
.fbt_col1 { margin-right: 10px; }
.fbt_col2 { margin-right: 10px; }
.find .box_hd { background: rgb(73, 152, 161) linear-gradient(90deg, rgb(73, 152, 161), rgb(46, 130, 139)) repeat scroll 0% 0%; }
.find .box_bd { padding: 10px; height: 369px; }
.find .box_hd_dec { background-image: url('sprite_index@1x_001.png'); background-position: -190px -96px; background-size: 218px 188px; background-repeat: no-repeat; width: 28px; height: 28px; }
.find_list { width: 370px; height: 363px; overflow: hidden; }
.find_item { float: left; border-right: 1px solid rgb(231, 231, 231); border-bottom: 1px solid rgb(231, 231, 231); }
.find_item_2, .find_item_4, .find_item_6 { border-right: 0px none; margin-right: -1px; }
.find_item_5, .find_item_6 { border-bottom: 0px none; }
.find_item_lk { display: block; width: 185px; height: 120px; position: relative; }
.find_item_img { position: absolute; bottom: 5px; right: 10px; width: 80px; height: 80px; transition: transform 0.4s ease-out 0s, -webkit-transform 0.4s ease-out 0s, -moz-transform 0.4s ease-out 0s; }
.csstransitions .find_item_lk:hover .find_item_img { transform: translateX(-5px); }
.find_item_name { font-size: 14px; color: rgb(73, 152, 161); position: absolute; top: 15px; left: 20px; width: 80px; line-height: 20px; z-index: 1; overflow-wrap: break-word; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
	.find .box_hd_dec { background-image: url('sprite_index@2x_001.png'); background-position: 0px -130px; background-size: 170px 158px; background-repeat: no-repeat; width: 28px; height: 28px; }
}
.sup .box_hd { background: rgb(118, 72, 142) linear-gradient(90deg, rgb(118, 72, 142), rgb(102, 45, 114)) repeat scroll 0% 0%; }
.sup .box_hd_dec { background: rgba(0, 0, 0, 0) url('sup_hd_dec@1x.png') repeat scroll 0% 0%; }
.sup_tab { width: 390px; height: 389px; }
.sup_page { padding-top: 8px; height: 380px; }
.sup_page_lk { display: block; width: 360px; height: 141px; margin: 0px 15px 18px; padding-top: 18px; overflow: hidden; text-align: center; white-space: nowrap; }
.sup_desc { font-size: 14px; line-height: 16px; color: rgb(102, 102, 102); text-indent: 10px; margin-bottom: 15px; text-align: left; }
.sup_img { display: inline-block; width: 110px; line-height: 110px; margin: 0px 5px; vertical-align: top; }
.sup_sep { width: 330px; height: 1px; margin: auto; background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.sup_tab { position: relative; }
.sup_btn { position: absolute; top: 160px; width: 20px; height: 50px; line-height: 50px; color: rgb(121, 113, 115); text-align: center; background: rgb(243, 242, 243) none repeat scroll 0% 0%; opacity: 0; z-index: 1; }
.sup_btn_pre { left: 0px; }
.sup_btn_next { right: 0px; }
.sup_tab:hover .sup_btn { opacity: 1; }
.sup_ind { position: absolute; z-index: 1; bottom: 15px; width: 100%; line-height: 10px; text-align: center; }
.sup_ind_item { display: inline-block; width: 8px; height: 8px; margin: 0px 7px; background: rgb(200, 200, 200) none repeat scroll 0% 0%; border-radius: 4px; }
.sup_ind_item.active { background: rgb(224, 18, 34) none repeat scroll 0% 0%; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
	.sup .box_hd_dec { background: rgba(0, 0, 0, 0) url('sup_hd_dec@2x.png') repeat scroll 0% 0% / 100% auto; }
}
.top .box_hd { background: rgb(231, 112, 5) linear-gradient(90deg, rgb(231, 112, 5), rgb(228, 93, 4)) repeat scroll 0% 0%; }
.top .box_hd_dec { background-image: url('sprite_index@1x_001.png'); background-position: -190px 0px; background-size: 218px 188px; background-repeat: no-repeat; width: 28px; height: 28px; }
.top_tab { height: 389px; }
.top_tab_head { padding: 6px 0px 7px; font-size: 0px; width: 390px; height: 18px; margin: 0px auto; white-space: nowrap; overflow: hidden; position: relative; }
.top_tab_head::before { content: ""; position: absolute; display: block; left: 10px; bottom: 0px; width: 370px; height: 1px; background: rgb(231, 231, 231) none repeat scroll 0% 0%; }
.top_tab_head_item { display: inline-block; line-height: 18px; font-size: 14px; width: 77px; border-right: 1px solid rgb(210, 209, 209); text-align: center; overflow: hidden; text-overflow: ellipsis; }
.top .top_tab_head_item_last { border-right: 0px none; }
.top_tab_active { position: absolute; bottom: 0px; left: 0px; width: 58px; height: 2px; background: rgb(241, 2, 20) none repeat scroll 0% 0%; transform: translateX(0px); transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s, -moz-transform 0.3s ease 0s; margin-left: 10px; }
.top .top_tab_content { padding: 10px; }
.top .top_tab_content_item { height: 335px; overflow: hidden; display: none; }
.top .top_tab_content_item_on { display: block; }
.top_list { height: 100%; }
.top_item { position: relative; float: left; width: 123px; text-align: center; }
.top_item_3 .top_lk, .top_item_6 .top_lk { border-right-color: rgb(255, 255, 255); }
.top_item_4 .top_lk, .top_item_5 .top_lk, .top_item_6 .top_lk { border-bottom-color: rgb(255, 255, 255); }
.top_lk { display: block; padding: 12px 0px; border-right: 1px solid rgb(231, 231, 231); border-bottom: 1px solid rgb(231, 231, 231); cursor: pointer; }
.top_rank { position: absolute; top: 12px; left: 11px; color: rgb(255, 255, 255); line-height: 35px; text-align: center; font-size: 22px; background-image: url('sprite_index@1x_001.png'); background-position: -100px -100px; background-size: 218px 188px; background-repeat: no-repeat; width: 30px; height: 40px; }
.top_rank_1 { background-image: url('sprite_index@1x_001.png'); background-position: -104px -40px; background-size: 218px 188px; background-repeat: no-repeat; width: 30px; height: 40px; }
.top_rank_2 { background-image: url('sprite_index@1x_001.png'); background-position: -50px -100px; background-size: 218px 188px; background-repeat: no-repeat; width: 30px; height: 40px; }
.top_rank_3 { background-image: url('sprite_index@1x_001.png'); background-position: 0px -100px; background-size: 218px 188px; background-repeat: no-repeat; width: 30px; height: 40px; }
.top_pic { margin-bottom: 10px; }
.top_img { width: 100px; height: 100px; }
.top_name { height: 32px; text-align: left; padding: 0px 11px; line-height: 16px; overflow: hidden; overflow-wrap: break-word; word-break: break-all; }
@media not all, (min--moz-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
	.top .box_hd_dec { background-image: url('sprite_index@2x_001.png'); background-position: -80px -80px; background-size: 170px 158px; background-repeat: no-repeat; width: 28px; height: 28px; }
	.top_rank { background-image: url('sprite_index@2x_001.png'); background-position: -40px -80px; background-size: 170px 158px; background-repeat: no-repeat; width: 30px; height: 40px; }
	.top_rank_1 { background-image: url('sprite_index@2x_001.png'); background-position: -84px -30px; background-size: 170px 158px; background-repeat: no-repeat; width: 30px; height: 40px; }
	.top_rank_2 { background-image: url('sprite_index@2x_001.png'); background-position: -44px -30px; background-size: 170px 158px; background-repeat: no-repeat; width: 30px; height: 40px; }
	.top_rank_3 { background-image: url('sprite_index@2x_001.png'); background-position: -124px -30px; background-size: 170px 158px; background-repeat: no-repeat; width: 30px; height: 40px; }
}
.lift { display: none; position: fixed; z-index: 100; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); background-color: rgb(145, 136, 136); }
.lift_item { border-top: 1px solid rgb(177, 170, 170); transition: background-color 0.1s ease 0s; }
.lift_item_first { border-top: medium none; }
.lift_btn { overflow: hidden; display: block; width: 24px; padding: 10px 5px; line-height: 14px; text-align: center; color: rgb(254, 254, 254); transition: color 0.1s ease 0s; }
.lift_item:hover, .lift_item_on { position: relative; border-bottom: 1px solid rgb(215, 11, 28); margin-bottom: -1px; border-color: rgb(215, 11, 28); background-color: rgb(215, 11, 28); }
.lift_item:hover .lift_btn, .lift_item_on .lift_btn { color: rgb(255, 255, 255); }
.lift_item_top, .lift_item_top:hover { border-top: 1px solid rgb(246, 246, 246); background-color: rgb(94, 74, 74); border-bottom: 0px none; margin-bottom: 0px; }
.lift_item_top .lift_btn { color: rgb(255, 255, 255); }
.lift_btn_arrow { display: block; width: 0px; height: 0px; margin: auto; border-style: solid; border-width: 4px; border-color: rgb(94, 74, 74) rgb(94, 74, 74) rgb(255, 255, 255); }
.enjoy { position: relative; }
.mod_footer { padding-bottom: 67px; }
.coupon { height: 270px; }
.coupon_inner { height: 270px; }
.coupon_col1 { float: left; width: 790px; height: 270px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; }
.coupon_col1 .box_hd { background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(240, 49, 24), rgb(230, 41, 16)) repeat scroll 0% 0%; }
.coupon_col1 .box_hd_dec { background-image: url('sprite_sprite_coupon@1x.png'); background-position: 0px 0px; background-size: 76px 60px; background-repeat: no-repeat; width: 28px; height: 28px; }
.coupon_list { float: left; width: 800px; padding: 10px 0px; }
.coupon_item { position: relative; float: left; width: 197px; height: 195px; border-right: 1px solid rgb(231, 231, 231); overflow: hidden; }
.coupon_item_4 { width: 200px; border-right: 0px none; }
.coupon_item_shadow { position: absolute; left: 100px; top: 33px; width: 15px; height: 117px; box-shadow: 0px 0px 30px rgb(153, 153, 153); }
.coupon_item_lk { display: block; width: 100%; height: 100%; }
.coupon_info { position: absolute; z-index: 1; left: 15px; top: 15px; width: 100px; border-top: 3px solid rgb(233, 53, 36); background-color: rgb(255, 255, 255); }
.coupon_price { overflow: hidden; margin-top: 7px; height: 36px; line-height: 36px; font-size: 34px; font-weight: 700; }
.coupon_desc { overflow: hidden; margin: 3px; height: 36px; line-height: 18px; color: rgb(233, 53, 36); }
.coupon_desc_txt { display: inline-block; vertical-align: middle; }
.coupon_limit { overflow: hidden; padding: 15px 10px; width: 80px; height: 36px; background: rgb(231, 231, 231) url('undefined') repeat-x scroll 0px 0px; color: rgb(102, 102, 102); }
.coupon_limit_txt { display: inline-block; vertical-align: middle; }
.coupon_more { overflow: hidden; width: 100%; height: 26px; background: rgb(233, 53, 36) none repeat scroll 0% 0%; line-height: 26px; text-overflow: ellipsis; white-space: nowrap; text-align: center; color: rgb(255, 255, 255); }
.coupon_img { overflow: hidden; position: absolute; right: 15px; top: 25px; width: 140px; height: 140px; }
.coupon_col2 { float: right; width: 390px; height: 270px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; }
.mime .box_hd { background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(79, 98, 159), rgb(91, 92, 149)) repeat scroll 0% 0%; }
.mime .box_hd_dec { background-image: url('sprite_sprite_coupon@1x.png'); background-position: -48px 0px; background-size: 76px 60px; background-repeat: no-repeat; width: 28px; height: 28px; }
.mime_bd { position: relative; height: 215px; }
.mime_list { position: relative; width: 100%; height: 100%; }
.mime_item { position: absolute; width: 100%; height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.mime_lk { position: relative; display: block; padding: 25px 30px 40px; height: 145px; text-align: center; color: rgb(51, 51, 51); background-position: center 30%; overflow: hidden; }
.mime_lk:hover { color: rgb(51, 51, 51); }
.mime_img { float: left; width: 200px; height: 140px; margin-right: 8px; }
.mime_title { word-break: break-all; overflow: hidden; display: block; text-align: justify; color: rgb(51, 51, 51); font-weight: 700; font-size: 14px; line-height: 18px; max-height: 72px; }
.mime_desc { word-break: break-all; overflow: hidden; display: block; color: rgb(153, 153, 153); text-align: justify; font-size: 12px; margin-top: 6px; line-height: 18px; max-height: 36px; }
.mime_desc_dec { display: inline-block; color: rgb(79, 98, 159); }
.mime_btn { display: none; position: absolute; top: 70px; width: 20px; height: 50px; line-height: 50px; z-index: 1; background: rgb(221, 221, 221) none repeat scroll 0% 0%; text-align: center; }
.mime_bd:hover .mime_btn { display: block; }
.mime_btn_l { left: 0px; }
.mime_btn_r { right: 0px; }
.mime_seen { position: absolute; left: 240px; bottom: 40px; width: 120px; height: 22px; line-height: 18px; color: rgb(153, 153, 153); text-align: left; }
.mime_seen_ico { display: inline-block; vertical-align: -2px; margin-right: 6px; background-image: url('sprite_sprite_coupon@1x.png'); background-position: 0px -48px; background-size: 76px 60px; background-repeat: no-repeat; width: 18px; height: 12px; }
.mime_ind_list { position: absolute; width: 100%; bottom: 20px; height: 10px; text-align: center; z-index: 1; }
.mime_ind_item { display: inline-block; width: 8px; height: 8px; border-radius: 8px; background: rgb(199, 199, 199) none repeat scroll 0% 0%; margin: 5px; }
.mime_ind_item.active { background: rgb(226, 18, 34) none repeat scroll 0% 0%; }
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
	.coupon_col1 .box_hd_dec { background-image: url('sprite_sprite_coupon@2x.png'); background-position: 0px 0px; background-size: 66px 50px; background-repeat: no-repeat; width: 28px; height: 28px; }
	.mime .box_hd_dec { background-image: url('sprite_sprite_coupon@2x.png'); background-position: -38px 0px; background-size: 66px 50px; background-repeat: no-repeat; width: 28px; height: 28px; }
	.mime_seen_ico { background-image: url('sprite_sprite_coupon@2x.png'); background-position: 0px -38px; background-size: 66px 50px; background-repeat: no-repeat; width: 18px; height: 12px; }
}
.csstransitions .coupon_img { transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, -moz-transform 0.5s ease 0s; }
.csstransitions .coupon_item:hover .coupon_img { transform: translateX(15px); }
/* ::::: https://static.360buyimg.com/devfe/toolbar/1.0.0/??widget/common/common.css ::::: */

.jdm-tbar-panel-header .close-panel, .jdm-tbar-panel-header i, .jdm-toolbar-tab .tab-ico, .jdm-toolbar-tab .tab-tip, .jdm-toolbar-tabs .tabs-tip .ico { display: inline-block; background-image: url('toolbars.png'); background-repeat: no-repeat; }
.i-loading { display: inline-block; width: 32px; height: 32px; background-image: url('loading_001.gif'); background-repeat: no-repeat; }
.jdm-tbar-tipbox2 { text-align: center; }
.jdm-toolbar-wrap { position: fixed; top: 0px; right: 0px; z-index: 9990; width: 0px; height: 100%; }
.jdm-toolbar-wrap a { text-decoration: none; }
.jdm-toolbar { position: absolute; right: 0px; top: 0px; width: 0px; height: 100%; border-right: 6px solid rgb(122, 110, 110); transition: right 0.3s ease-in-out 0s; }
.jdm-toolbar-panels { position: absolute; left: 6px; top: 0px; width: 270px; height: 100%; z-index: 2; background: rgb(236, 234, 234) none repeat scroll 0% 0%; }
.jdm-toolbar-panel { width: 270px; height: 100%; position: absolute; background: rgb(236, 234, 234) none repeat scroll 0% 0%; }
.jdm-tbar-panel-header { position: relative; width: 270px; height: 40px; line-height: 40px; background: rgb(236, 234, 234) none repeat scroll 0% 0%; }
.jdm-tbar-panel-header i { margin-right: 4px; margin-left: 10px; vertical-align: top; }
.jdm-tbar-panel-header .title { display: inline-block; height: 40px; color: rgb(94, 80, 80); font: 16px/40px "微软雅黑"; }
.jdm-tbar-panel-header .title em { display: inline-block; vertical-align: top; }
.jdm-tbar-panel-header .close-panel { width: 12px; height: 12px; background-position: 0px -250px; position: absolute; right: 8px; top: 16px; cursor: pointer; transition: transform 0.2s ease-out 0s; }
.jdm-tbar-panel-header .close-panel:hover { transform: rotate(180deg); }
.jdm-tbar-panel-main { position: relative; }
.jdm-tbar-panel-content { width: 270px; overflow-y: auto; overflow-x: hidden; position: relative; }
.jdm-tbar-panel-content .jdm-tbar-tipbox2 { width: 270px; position: absolute; left: 0px; top: 50%; margin-top: -60px; }
.jdm-toolbar-header { position: absolute; top: 0px; right: -6px; }
.jdm-toolbar-tabs { position: absolute; top: 50%; left: -29px; width: 35px; margin-top: -61px; }
.jdm-toolbar-tabs .tabs-tip { position: absolute; top: 0px; right: 35px; height: 35px; line-height: 35px; white-space: nowrap; border-radius: 5px; background: rgb(200, 22, 35) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 0px 10px 0px 30px; }
.jdm-toolbar-tabs .tabs-tip .ico { width: 15px; height: 12px; background-position: -98px -162px; position: absolute; top: 13px; left: 10px; }
.jdm-toolbar-tabs .tabs-tip b { width: 0px; height: 0px; line-height: 0; font-size: 0px; border-width: 6px; border-style: dashed dashed dashed solid; border-color: transparent transparent transparent rgb(200, 22, 35); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; right: -12px; top: 12px; z-index: 20; }
.jdm-toolbar-footer { position: absolute; bottom: -1px; width: 100%; left: -29px; }
.jdm-toolbar-footer .jdm-toolbar-tab .tab-text { width: 50px; }
.jdm-toolbar-tab { position: relative; width: 35px; height: 35px; margin-bottom: 1px; cursor: pointer; background-color: rgb(122, 110, 110); border-radius: 3px 0px 0px 3px; }
.jdm-toolbar-tab .tab-ico { width: 34px; height: 35px; margin-left: 1px; position: relative; z-index: 2; background-color: rgb(122, 110, 110); }
.jdm-toolbar-tab .tab-text { width: 62px; height: 35px; line-height: 35px; color: rgb(255, 255, 255); text-align: center; font-family: "微软雅黑"; position: absolute; z-index: 1; left: 35px; top: 0px; background-color: rgb(122, 110, 110); border-radius: 3px 0px 0px 3px; transition: left 0.3s ease-in-out 0.1s; }
.jdm-toolbar-tab .tab-sub { position: absolute; z-index: 3; right: 2px; top: -5px; height: 11px; padding: 1px 2px; border: 1px solid rgb(182, 29, 29); overflow: hidden; color: rgb(255, 255, 255); font: 11px/11px verdana; text-align: center; min-width: 11px; border-radius: 10px; background-color: rgb(204, 96, 96); background-image: linear-gradient(to bottom, rgb(204, 96, 96) 0px, rgb(182, 29, 29) 100%); }
.jdm-toolbar-tab .tab-tip { position: absolute; top: 8px; right: 10px; width: 6px; height: 6px; background-position: -150px -150px; z-index: 999; }
.jdm-tbar-tab-jdvip .tab-ico { background-position: -88px -175px; }
.jdm-tbar-tab-cart .tab-ico { background-position: -50px 0px; }
.jdm-tbar-tab-follow .tab-ico { background-position: -50px -50px; }
.jdm-tbar-tab-history .tab-ico { background-position: -50px -100px; }
.jdm-tbar-tab-jimi .tab-ico { background-position: -50px -150px; }
.jdm-tbar-panel-jimi .jdm-tbar-panel-header i { width: 18px; height: 19px; margin-top: 10px; background-position: 0px -150px; }
.jdm-tbar-panel-jimi .jdm-tbar-panel-content { overflow: hidden; }
.jdm-tbar-panel-jdvip .jdm-tbar-panel-header i { width: 18px; height: 19px; margin-top: 10px; background-position: -94px -211px; }
.jdm-tbar-tab-message .tab-ico { background-position: -190px -150px; }
.jdm-tbar-tab-top .tab-ico { background-position: -50px -250px; }
.jdm-tbar-tab-feedback .tab-ico { background-position: -50px -300px; }
.jdm-tbar-panel-ad .jdm-tbar-panel-content { overflow: hidden; }
.sup_page { background: rgb(255, 255, 255) none repeat scroll 0% 0% !important; }
.mime_list { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.entry_c8 { margin-bottom: 30px; height: 245px; }
.lift { margin-top: 25px; }
.lift_btn { padding: 7px 5px; }
.enjoy { height: 270px; margin-bottom: 30px; }
